@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;500&display=swap');

:root {
    --main-color: #29b8dbd8;
    --primary-color: #DCC6A2;
    --abu-color: #3E4C54;
    --bg-color: #E7F3EF;

    --main-font: 'Inter', sans-serif;
    --md-font: 'Poppins', sans-serif;
}

body{
font-family: var(--main-font);
}

.kategory{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25); 
    
}
.btn-group {

    .select {
        position: relative;

        input:checked+label {
            background-color: var(--main-color);
            &:hover,
            &:focus,
            &:active {
                background-color: var(--main-color); 
                       }
        }

        input {
            opacity: 0;
            position: absolute;
        }

        .button_select {
            margin: 0 10px 10px 0;
            display: flex;
            background-color: transparent;

            &:hover,
            &:focus,
            &:active {
                background-color: transparent;
            }
        }
    }

}


.option {
    position: relative;

    input {
        opacity: 0;
        position: absolute;
    }

    input:checked+span {
        background-color: var(--main-color);
        color: white;

        &:hover,
        &:focus,
        &:active {
            background-color: var(--main-color);   
            color: white;

            }
    }

    .btn-option {
        display: flex;
        background-color: transparent;

        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
        }
    }
}
